<div class='mt-4'>
  <div>
  <a href='/me/stored/courses' class='btn btn-link'><i class="fas fa-arrow-left"></i></a>
    <h1>
    Khóa học đã xóa
    </h1>
  </div>
	<table class='table mt-4'>
		<thead>
			<tr>
				<th scope='col'>#</th>
				<th scope='col'>Tên</th>
				<th scope='col'>Trình độ</th>
				<th scope='col'>Thời gian xóa</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr>
					<th scope='row'>{{addOne @index}}</th>
					<td>{{this.title}}</td>
					<td>{{this.level}}</td>
					<td>{{this.deletedAt}}</td>
					<td>
						<a href='' class='btn btn-link btn-restore' data-id='{{this._id}}'><i class="fas fa-trash-restore"></i></a>
						<button
							type='button'
							class='btn btn-link'
							data-id='{{this._id}}'
							data-bs-toggle='modal'
							data-bs-target='#deleteModal'
						><i class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
      {{else}}
        <tr>
          <td class='text-center' colspan="5">
            Không có khóa học nào bị xóa. 
          </td>
        </tr>
			{{/each}}
		</tbody>
	</table>
</div>
<div
	class='modal fade'
	id='deleteModal'
	tabindex='-1'
	aria-labelledby='deleteModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='deleteModalLabel'>Xác nhận</h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				Hành động này không thể khôi phục. Bạn chắc chắn muốn xóa ?
			</div>
			<div class='modal-footer'>
				<form method='POST' action='' id='delete-course-form'>
					<button class='btn btn-danger' type='submit'>Xóa vĩnh viễn</button>
				</form>
				<button
					type='button'
					class='btn btn-secondary'
					data-bs-dismiss='modal'
				>Hủy</button>
			</div>
		</div>
	</div>
</div>

<form id='restore-course-form' method='POST'></form>

<script>
	const deleteModal = document.getElementById('deleteModal')
  const restoreBtn = document.querySelectorAll('.btn-restore')

	deleteModal.addEventListener('show.bs.modal', function (event) { 
    const button = event.relatedTarget 
    const id = button.getAttribute('data-id')
    document.forms['delete-course-form'].action = `/courses/${id}/destroy?_method=DELETE` 
  })

  restoreBtn.forEach(btn => {
      btn.addEventListener('click', function (e) {
            e.preventDefault()
            const id = e.target.closest('.btn-restore').dataset.id
            const restoreForm = document.forms['restore-course-form']
            restoreForm.action = `/courses/${id}/restore?_method=PATCH`
            restoreForm.submit()
          })
      })
</script>
